fastapi
uvicorn[standard]
scikit-learn
joblib
numpy
pandas
openpyxl
d3rlpy[cpu]
torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.18.0 --index-url https://download.pytorch.org/whl/cpu
